#portfolio {
    min-height: 100vh;
}

.container.portfolio_container {
    width: var(--container-lg);

}

.swiper-slide {
    padding-bottom: 2rem;
}


@media(max-width:1024px) {
    .container.portfolio_container {
        width: 85%;
    }
}

@media(max-width:600px) {
    .container.portfolio_container {
        width: 99.8%;
    }
}





/* .swiper-slide.swiper-slide-visible.swiper-slide-active {
    display: flex;
    justify-content: center;
} */