header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;

}

h4 {
    width: 400px;
    text-align: center;
    margin-bottom: 1rem;

}



.header_buttons {
    display: flex;
    gap: 1rem
}

.arrow {
    position: absolute;
    right: 1rem;
    bottom: 15%;
    height: 4rem;
    font-weight: 100;
    font-size: 2rem;
    color: var(--primary-alpha);
    opacity: 0;

}

.arrow.first {
    animation: myarrow 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite 2.3s;
}

.arrow.second {
    animation: myarrow 3s cubic-bezier(0.075, 0.82, 0.165, 1)infinite 2.5s;
}

.arrow.third {
    animation: myarrow 3s cubic-bezier(0.075, 0.82, 0.165, 1)infinite 2.7s;
}

@keyframes myarrow {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }

}