@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0;
}



:root {

  --bg-alpha: #0f141f;
  --bg-beta: rgb(20, 129, 186);
  --primary-alpha: rgb(191, 207, 255);
  --primary-beta: rgb(128, 159, 255);
  --color-white: #fff;
  --color-light: rgb(255, 255, 255, 0.5);

  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 95%;

  --transition: all 400ms ease;
}


body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-alpha);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}








html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;

}


/* ===============GENERAL STYLES===============*/


.container {
  width: var(--container-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {

  /* margin-top: 8rem; */

}

section>h2, section>h5 {
  text-align: center;
  color: var(--color-light);

}

section>h2 {
  color: var(--primary-alpha);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--primary-alpha);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}


.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary-alpha);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--primary-alpha);
  transition: var(--transition);

}

.btn:hover {
  background: var(--color-white);
  color: var(--bg-alpha);
  border-color: transparent;
}

.btn-primary {
  background: var(--bg-beta);
  color: var(--color-alpha)
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}




/* ===============MEDIA QUERIES(MEDIUM DEVICES)============== */
@media (max-width:1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }


}

/* ===============MEDIA QUERIES(SMALL DEVICES)============== */
@media (max-width:600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }


}