nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    border-radius: 3rem;
    display: flex;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.338);
    padding: 0.5rem 2.5rem;
    justify-items: center;
    backdrop-filter: blur(17px);
    z-index: 100;
}



nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.2rem;

}



nav a:hover {
    background: rgb(0, 0, 0 0.3);
}

nav>.active {

    background: var(--bg-beta);
    color: var(--color-white);
}